html, body {
  font-family: 'Lato', sans-serif;
  background: #DDD;
  margin: 0;
  padding: 0;
  color: #888888;
  font-weight: 400; }
  html p, body p {
    line-height: 25px !important; }
  html h3 :first-letter, body h3 :first-letter {
    text-transform: uppercase; }

h2, h3, b, strong {
  color: #111111;
  font-weight: 700; }

div.item:before {
  border-top-width: 30px;
  display: block;
  left: 3px;
  top: 4px;
  position: absolute;
  font-family: "socicon" !important;
  color: #fff; }

div.item.ht-twitter:before {
  content: "\e040"; }

div.item.ht-facebook:before {
  content: "\e041"; }

div.item.ht-googleplus:before {
  content: "\e042"; }

div.item.ht-youtube:before {
  content: "\e051"; }

div.item.ht-instagram:before {
  content: "\e057"; }

.item {
  background: #FFF;
  padding: 10px 0;
  word-break: break-all;
  word-wrap: break-word;
  position: relative; }
  .item.ht-w-img {
    padding-top: 0; }

.ht-content {
  padding: 5px;
  padding: 5px 10px; }
  .ht-content h3 {
    padding: 2px 0;
    margin: 2px 0;
    font-size: 1.4rem; }

footer {
  font-size: 12px; }

a {
  color: #CCC; }
  a:hover {
    color: #cc5800 !important; }
  a.likeme {
    display: inline;
    padding: 0 0 0 17px;
    background: url(../img/heart.png) no-repeat left center transparent; }
  a.comms {
    display: inline;
    float: right;
    padding: 0 0 0 17px;
    background: url(../img/comments.png) no-repeat left center transparent; }

.ht-twitter {
  background: #DDD; }
  .ht-twitter h3 {
    font-size: 1.5rem;
    font-style: italic; }

.ht-only-img {
  padding: 0;
  margin: 0; }

.overlay {
  display: none;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 9;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  color: #FFF;
  padding: 8px; }
  .overlay :hover {
    cursor: pointer; }
  .overlay .content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .overlay .ov-row {
    min-height: 20px;
    margin: 10px 0;
    text-align: center; }

ul.share-buttons {
  list-style: none;
  padding: 0; }
  ul.share-buttons li {
    display: inline; }
  ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden; }

.ht-stats {
  margin: 10px 0;
  font-size: 11px;
  text-transform: uppercase;
  color: #111111 !important; }
  .ht-stats a {
    color: #333; }

.ht-header {
  height: 300px;
  overflow: hidden;
  clear: both;
  position: relative; }
  .ht-header img.wall {
    overflow: hidden;
    display: block;
    width: 100%; }
  .ht-header .ht-header-inside {
    position: absolute;
    min-height: 30px;
    min-width: 350px;
    z-index: 99;
    background: rgba(0, 0, 0, 0.6);
    left: 10vw;
    bottom: 3px; }
    .ht-header .ht-header-inside h1, .ht-header .ht-header-inside h2 {
      padding: 0;
      margin: 0;
      color: #FFF; }
    .ht-header .ht-header-inside h1 {
      font-size: 23pt; }
    .ht-header .ht-header-inside h2 {
      font-weight: 300;
      font-size: 15px; }
    .ht-header .ht-header-inside img {
      width: 100px;
      float: left; }
    .ht-header .ht-header-inside .ht-bio {
      float: left;
      min-width: 200px;
      padding: 10px; }

.ht-filter {
  text-align: center;
  background: #2e2e2e;
  height: 40px;
  margin-bottom: 5px;
  padding-top: 15px; }
  .ht-filter a {
    text-decoration: none; }
  .ht-filter ul {
    margin: 0;
    padding: 0; }
    .ht-filter ul li {
      display: inline;
      vertical-align: middle;
      margin: 0 6px; }

.ht-footer {
  min-height: 150px;
  background-color: #2e2e2e; }
  .ht-footer .inner-footer {
    max-width: 1100px;
    margin: 10px auto;
    padding: 15px 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .ht-header-inside {
    width: 100%; } }
