
$bgcolor: #DDD;
$fontcolor: #888888;
$offfont:  #111111;
$tilebg: #FFF;
$linkcolor: #CCC;
$pad: 8px;
$dark: #333;
$ahover: #cc5800;
$footerbg: #2e2e2e;

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


html, body {
  font-family: 'Lato', sans-serif;
  background: $bgcolor;
  margin: 0;
  padding: 0;
  color: $fontcolor;
  font-weight: 400;

  p {
    line-height: 25px !important;
  }

  h3 {
    :first-letter {
      text-transform: uppercase;
    }

  }
}

h2, h3, b, strong {
  color: $offfont;
  font-weight: 700;
}

div.item:before {
  content: "";
  border-top-width: 30px;
  border-top-style: solid;
  border-right: 30px solid transparent;
  top: 0;
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}
.item {
  &.ht-w-img {
    padding-top: 0
  }
  background: $tilebg;
  padding: 10px 0;
  word-break: break-all;
  word-wrap: break-word;
  position: relative;
}

.ht-content {
  padding: 5px;
  padding: 5px 10px;
  h3 {
    padding: 2px 0;
    margin: 2px 0;
    font-size: 1.4rem;
  }
}

footer {
  font-size: 12px;
}

a {
  color: $linkcolor;
  &:hover {
    color: $ahover !important
  }
  &.likeme {
    display: inline;
    padding: 0 0 0 17px;
    background: url(../img/heart.png) no-repeat left center transparent;
  }
  &.comms {
    display: inline;
    float: right;
    padding: 0 0 0 17px;
    background: url(../img/comments.png) no-repeat left center transparent;
  }
}

.ht-twitter {
  background: $bgcolor;
  h3 {
    font-size: 1.5rem;
    font-style: italic;
  }
}

.ht-only-img {
  padding: 0;
  margin: 0;
}

.overlay {
  display: none;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 9;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  color: $tilebg;
  padding: $pad;
  :hover {
    cursor: pointer;
  }
  .content {
    @include vertical-align;
  }
  .ov-row {
    min-height: 20px;
    margin: 10px 0;
    text-align: center;
  }
}


ul.share-buttons{
  list-style: none;
  padding: 0;
  li{
    display: inline;
  }
  .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
}
.ht-stats {
  margin: 10px 0;
  font-size: 11px;
  text-transform: uppercase;
  color: $offfont !important;
  a {
    color: $dark;
  }
}
.ht-header {
  height: 300px;
  overflow: hidden;
  clear: both;
  position: relative;
  img.wall {
    overflow: hidden;
    display: block;
    width: 100%;
  }
  .ht-header-inside {
    position: absolute;
    min-height: 30px;
    min-width: 350px;
    z-index: 99;
    background: rgba(0, 0, 0, 0.6);
    left: 10vw;
    bottom: 3px;
    h1, h2 {
      padding: 0;
      margin: 0;
      color: $tilebg
    }
    h1 {
      font-size: 23pt;
    }
    h2 {
      font-weight: 300;
      font-size: 15px;
    }
    img {
      width: 100px;
      float: left;
    }
    .ht-bio {
      float: left;
      min-width: 200px;
      padding: 10px;
    }
  }
}

.ht-filter {
  text-align: center;
  background: $footerbg;
  height: 40px;
  margin-bottom: 5px;
  padding-top: 15px;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline;
      vertical-align: middle;
      margin: 0 6px;
    }
  }
}
.ht-footer {
  min-height: 150px;
  background-color: $footerbg;
  .inner-footer {
    max-width: 1100px;
    margin: 10px auto;
    padding: 15px 0;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
  .ht-header-inside {
    width: 100%;
  }
}
